include ./layouts/header.pug

main
  section.m-5.p-5
    .container
      .row.justify-content-center
        .col-md-5
          .card.px-5.py-3
            .card-body.text-center
              img(src="https://via.placeholder.com/100x100?text=logo", alt="Logo").mb-3
              form(action="")
                h4 Admin Login
                .form-group
                  .input-group
                    .input-group-prepend 
                      span.input-group-text
                        i.fas.fa-user
                    input.form-control(type="text", name="" placeholder="Username") 
                .form-group
                  .input-group
                    .input-group-prepend 
                      span.input-group-text
                        i.fas.fa-key
                    input.form-control(type="text", name="" placeholder="Password")
                .d-flex.justify-content-between.mb-3
                  .custom-control.custom-checkbox
                    input.custom-control-input(type="checkbox")
                    label.custom-control-label Keep me login
                  a(href="#").small.text-muted Forgot Password
                p.small.text-secondary By clicking the login button you are accepting Ruff Tiger Admin Policies and Terms of Use
                input.btn.btn-primary.btn-block.mt-3(type="submit", value="Login")
                

include ./layouts/footer.pug